$accodion-height: 200px;
$closed-tab-width: 80px;

*{
  margin: 0;
  padding: 0;
  border: 0;
}

// 基本の背景色とフォント設定
body{
  background-color: #222;
  font-family: Arial, Helvetica, sans-serif;
}

// web上からfontを読み込む
@font-face {
  font-family: 'Genericons';
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/53819/genericons-regular-webfont.eot");
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/53819/genericons-regular-webfont.woff") format("woff"), url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/53819/genericons-regular-webfont.eot") format("truetype");
}

.container {
	// 左右中央寄せを行う。
	// 上下のmarginは50px, 左右のmarginはauto(左右にautoを指定することで左右中央寄せになる)
	margin: 50px auto;
	width: 90%;

	header h1{
		color: #fff;
		margin-bottom: 10px;
		text-align: center;
	}

	// アコーディオンのような形になるボックスの設定
	.accordion {
		background: #333;
		// 横幅設定１
		width: 100%;
		// 横幅設定２（画面サイズが小さくなっても800pxよりにはならないようにする。）
		min-width: 800px;
		// 縦幅設定
		height: $accodion-height;
		// はみ出たものは見えなくする。
		overflow: hidden;
		display: block;
		// リストの・をなくす。
		list-style-type: none;
		// テキストサイズを０にすることで、テキストを見えなくする
		font-size: 0;

		.tab{
			// tabをinline-blockにし、全てのtab要素をそこ並びにする。
			display: inline-block;
			background-color: #444;
			// 右側にボーダーラインを設定
			border-right: #333 solid 1px;
			width: 80px;
			height: $accodion-height;
			// はみ出たものは見えなくする。
			overflow: hidden;
			position: relative;
			margin: 0;
			// 子要素で実行されるアニメーションの設定
			// (アニメーション適用するプロパティ、どのくらいかけてアニメーションを行うか、アニメーション変化速度の変化の仕方、how long till the transaction starts happening)
			transition: width 500ms ease-in-out 100ms;

			.content{
				background-color: #fff;
				width: 360px;
				height: 200px;
				// tabクラスのoverflow設定によってタブが開かれないと見えないようになる
				margin-left: 80px;
				padding: 50px 0 0 15px;
				position: relative;

				h1 {
					font-size: 2.5rem;
					margin-bottom: 10px;
				}

				p {
					font-size: 0.85rem;
					// 行間設定
					line-height: 1.4rem;
					padding-right: 30px;
				}
			}

			&:hover{
				// 幅を450px変更
				width: 450px;
				
				.social a::before{
						// background-color: #ff0000;
						margin-left: -100px;
				}
				.social a::after{
					margin-left: -5px;
				}
			}

			// .social a{
			// 	font-size: 5px;
			// }

			/*socialクラスの中にあるaタグを修飾（afterとbeforeの二つの修飾を作成）
			beforerの修飾要素を最初は表示領域にあり、mouse hoverで状態変更があった場合非表示領域に寄せるれる要素とし、
			afterの修飾要素を最初は非表示領域にあり、mouse hoverで状態変更があった場合表示領域に寄せるれる要素とする。
			*/ 
			// aタグのリンクの（テキスト設定でfont-sizeを０にしているためaタグのテキストは見えない）
			// .social a:before,	.social a:afterで共有している部分をここで定義する。
			.social a:before,
			.social a:after {
				// リンククリック判定の範囲設定
				width: $closed-tab-width;
				height: $accodion-height;
				// before,afterで修飾するために必要
				position: absolute;
				text-indent: 0;
				// アイコンの位置調整
				padding-top: 90px;
				padding-left: 25px;
				display: block;
				// socialメディアのアイコンを持つGenericonsをfontに設定する。
				font: normal 30px Genericons;
				// アイコンの色を設定
				color: #fff;
				// background-color: black;

				transition: background-color 400ms ease-in-out 100ms, margin-left 400ms ease-in-out 100ms;

			}
			
			.social a:after {
				font-size: 48px;
				padding-left: 20px;
				padding-top: 80px;
				margin-left: 85px;
			}
			



			.youtube a:before,
			.youtube a:after {
				content: '\f213';
			}
			.youtube a:after {
				background-color: #ff0000;
			}

			.twitter a:before,
			.twitter a:after {
				content: '\f202';
			}
			.twitter a:after {
				background-color: #6dc5dd;
			}

			.facebook a:before,
			.facebook a:after {
				content: '\f204';
			}
			.facebook a:after {
				background-color: #3b5998;
			}

			.linkedin a:before,
			.linkedin a:after {
				content: '\f208';
			}
			.linkedin a:after {
				background-color: #00a9cd;
			}

			.instagram a:before,
			.instagram a:after {
				content: '\f215';
			}
			.instagram a:after {
				background-color: #6dc993;
			}

			.github a:before,
			.github a:after {
				content: '\f200';
			}
			.github a:after {
				background-color: #6e5494;
			}
		}

	}


}


@media (max-width: 950px) {
  .container {
		// background-color: blue;
		width: 70%;

		.accordion {
			display: block;
			min-width: 450px;
			// height:autoは自動的に中身の要素にピッタリの高さにする
			height: auto;
			.tab {
				// background-color: red;
				display: block;
				width: 100%;
				// 境目がわかるようにする
				border-bottom: 3px #333 solid;
				.content{
					width: 85%;
				}
				&:hover{
					width: 100%;
				}
			}
		}
  }
}

@media (max-width: 680px) {
  .container {
		width: 95%;
		.accordion {
			width: 100%;
			min-width: 350px;
		}
  }

}